template.yml
AWSTemplateFormatVersion: '2010-09-09'
Transform: 
- AWS::Serverless-2016-10-31
#- AWS::CodeStar
Description: >
  sam-app
  Sample SAM Template for sam-app
  
Metadata:
  AWS::ServerlessRepo::Application:
    Name: Zendesk-AWS-EventBridge
    Description: This application analyzes Zendesk tickets for negative sentiment, tags them as 'negative' and applies a customizable escalation time frame. It also translates tickets, finds keywords, and sends them to S3 for analysis.
    Author: Joe Norman
    SpdxLicenseId: MIT-0
    LicenseUrl: LICENSE
    ReadmeUrl: README.md
    Labels: ['Zendesk', 'moderation', 'sentiment', 'lambda','eventbridge', 'comprehend']
    HomePageUrl: https://github.com/joe-norman/eventbridge-Zendesk
    SemanticVersion: 1.0.0
    SourceCodeUrl: https://github.com/joe-norman/eventbridge-Zendesk

Parameters:
##########################################################################
#  Lambda Environment Params: Zendesk Integration                        #
########################################################################## 
  ZendeskUsernameKey:
    Description: Your agent username that will connect to the Zedesk API. This is an email address.
    Type: String
    Default: 'Example: jsmith@myDomain.com'
  ZendeskTokenKey:
    Description: Your API Token. This is NOT your Zendesk password.
    Type: String
    Default: ''
  ZendeskDomainKey:
    Description: Your unique Zendesk domain name (excluding https:// and .com)
    Type: String
    Default: 'Example: myDomain.zendesk'
##########################################################################
#  Lambda Environment Params : Escalation times                          #
########################################################################## 
  SLAUrgentWait:
    Description: Wait time before moving from High to Urgent priority, in seconds. Default 30min.
    Type: String
    Default: 1800
  SLAHighWait:
    Description: Wait time before moving from Normal to High priority, in seconds. Default 10min.
    Type: String
    Default: 600
  SLANormalWait:
    Description: Wait time before transitioning from undefined or lower priority to Normal, in seconds. Default 2min
    Type: String
    Default: 120
##########################################################################
#  Lambda Environment Params : Analytics                       #
########################################################################## 
  S3BucketAnalytics:
    Description: S3 bucket name for dropping data used in Analytics. Just the bucket name, not the full ARN.
    Type: String
    Default: ''
##########################################################################
#  Event Bridge  Params : source name and acct ID                        #
########################################################################## 
  EventSourceName:
    Description: The event source name generated by the Zendesk connector. Look under Services > EventBridge > Partner Event Sources
    Type: String
    Default: ''



# Globals:
#   Function:
#     AutoPublishAlias: live
#     DeploymentPreference:
#       Enabled: true
#       Type: Canary10Percent5Minutes
#       Role: !Ref CodeDeployRole

Resources:
##########################################################################
#  Lambda Functions                                                      #
##########################################################################
    ZendeskDemoGetFullTicket:
        Type: AWS::Serverless::Function # Function Resource: 
        Properties:
            CodeUri: lambdas/getFullTicket
            Handler: getFullTicket.handler
            Runtime: nodejs10.x
            Role:
                Fn::GetAtt:
                - MyLambdaExecutionRole
                - Arn
            Environment:
                Variables:
                    ZendeskUsername: !Ref ZendeskUsernameKey
                    ZendeskPassword: !Ref ZendeskTokenKey
                    ZendeskDomain: !Ref ZendeskDomainKey
    ZendeskDemoGetSentiment:
        Type: AWS::Serverless::Function # Function Resource: 
        Properties:
            CodeUri: lambdas/getSentiment
            Handler: getSentiment.handler
            Runtime: nodejs10.x
            Role:
                Fn::GetAtt:
                - MyLambdaExecutionRole
                - Arn
            Environment:
    ZendeskDemoSetTags:
        Type: AWS::Serverless::Function # Function Resource: 
        Properties:
            CodeUri: lambdas/setTags
            Handler: setTags.handler
            Runtime: nodejs10.x
            Role:
                Fn::GetAtt:
                - MyLambdaExecutionRole
                - Arn
            Environment:
                Variables:
                    ZendeskUsername: !Ref ZendeskUsernameKey
                    ZendeskPassword: !Ref ZendeskTokenKey
                    ZendeskDomain: !Ref ZendeskDomainKey
    ZendeskDemoSetPriority:
        Type: AWS::Serverless::Function # Function Resource: 
        Properties:
            CodeUri: lambdas/setPriority
            Handler: setPriority.handler
            Runtime: nodejs10.x
            Role:
                Fn::GetAtt:
                - MyLambdaExecutionRole
                - Arn
            Environment:
                Variables:
                    ZendeskUsername: !Ref ZendeskUsernameKey
                    ZendeskPassword: !Ref ZendeskTokenKey
                    ZendeskDomain: !Ref ZendeskDomainKey     
    ZendeskDemoTranslateTicket:
        Type: AWS::Serverless::Function # Function Resource: 
        Properties:
            CodeUri: lambdas/translateTicket
            Handler: translateTicket.handler
            Runtime: nodejs10.x
            Role:
                Fn::GetAtt:
                - MyTranslateTextExecutionRole
                - Arn
    ZendeskDemoWriteToS3:
        Type: AWS::Serverless::Function # Function Resource: 
        Properties:
            CodeUri: lambdas/writeToS3
            Handler: writeToS3.handler
            Runtime: nodejs10.x
            Role:
                Fn::GetAtt:
                - MyWriteToS3ExecutionRole
                - Arn
            Environment:
                Variables:
                    S3BucketForAnalytics: !Ref S3BucketAnalytics
    ZendeskDemoGetTopics:
        Type: AWS::Serverless::Function # Function Resource: 
        Properties:
            CodeUri: lambdas/getTopics
            Handler: getTopics.handler
            Runtime: nodejs10.x
            Role:
                Fn::GetAtt:
                - MyLambdaExecutionRole
                - Arn
##########################################################################
#   STEP FUNCTION                                                        #
##########################################################################
    ZendeskDemoStateMachine:
      Type: "AWS::StepFunctions::StateMachine"
      Properties:
        DefinitionString: !Sub |
                {
                   "Comment": "Understand the ticket sentiment, apply tags and check back when answered to ensure SLA's are met",
                   "StartAt": "FullTicketInfo",
                   "States": {

                     "FullTicketInfo": {
                       "Type" : "Task",
                       "Resource": "${ZendeskDemoGetFullTicket.Arn}",
                       "InputPath":  "$.detail.ticket_event.ticket",
                       "ResultPath": "$",
                       "Next": "TranslateTicket"
                     },
                     
                     "TranslateTicket": {
                        "Type": "Task",
                        "Resource": "${ZendeskDemoTranslateTicket.Arn}",
                        "InputPath": "$",
                        "ResultPath": "$",
                        "OutputPath": "$",
                        "Next": "GetTopics"
                     },
                     
                     "GetTopics": {
                        "Type": "Task",
                        "Resource": "${ZendeskDemoGetTopics.Arn}",
                        "InputPath": "$",
                        "ResultPath": "$.topics",
                        "OutputPath": "$",
                        "Next": "GetSentiment"
                     },

                     "GetSentiment": {
                       "Type": "Task",
                       "Resource": "${ZendeskDemoGetSentiment.Arn}",
                       "InputPath": "$.raw_subject",
                       "ResultPath": "$.sentiment",
                       "OutputPath": "$",
                       "Next": "WriteToS3"
                     },
                     
                     "WriteToS3": {
                       "Type": "Task",
                       "Resource": "${ZendeskDemoWriteToS3.Arn}",
                       "InputPath": "$",
                       "ResultPath": "$.sentToAnalytics",
                       "OutputPath": "$",
                       "Next": "isNegative"
                     },

                     "isNegative": {
                       "Type" : "Choice",
                       "Choices": [
                         {
                           "Variable": "$.sentiment.Sentiment",
                           "StringEquals": "NEGATIVE",
                           "Next": "setTags"
                         }
                       ],
                       "Default": "ClosedOrNotNegative"
                     },
                 
                     "setTags": {
                       "Type" : "Task",
                       "Resource": "${ZendeskDemoSetTags.Arn}",
                       "ResultPath": "$.tags",
                       "OutputPath": "$",
                       "Next": "isClosed"
                     },
                     
                     
                  "GetSLAWaitTime": {
                       "Type" : "Choice",
                       "Choices": [
                         {
                           "Variable": "$.priority",
                           "StringEquals": "normal",
                           "Next": "SLAHighWait"
                         },
                         {
                           "Variable": "$.priority",
                           "StringEquals": "high",
                           "Next": "SLAUrgentWait"
                         },
                         {
                           "Variable": "$.priority",
                           "StringEquals": "urgent",
                           "Next": "FinalEscalationState"
                         }
                       ],
                        "Default": "SLANormalWait"
                        
                     },
                     
                    "FinalEscalationState": {
                            "Comment" : "Ticket cannot be escalated further",
                            "Type": "Succeed"
                        },
                     
                     "EscalatePriority": {
                         "Type" : "Task",
                         "Resource": "${ZendeskDemoSetPriority.Arn}",
                         "InputPath":  "$",
                         "ResultPath": "$",
                         "Next": "isClosed"
                     },

                     "SLANormalWait": {
                         "Type": "Wait",
                         "Seconds": ${SLANormalWait},
                         "Next": "EscalatePriority"
                       },
                       
                       "SLAHighWait": {
                         "Type": "Wait",
                         "Seconds": ${SLAHighWait},
                         "Next": "EscalatePriority"
                       },
                       
                       
                       "SLAUrgentWait": {
                         "Type": "Wait",
                         "Seconds":${SLAUrgentWait},
                         "Next": "EscalatePriority"
                       },

                     "isClosed": {
                       "Type" : "Choice",
                       "Choices": [
                         {
                           "Variable": "$.status",
                           "StringEquals": "open",
                           "Next": "GetSLAWaitTime"
                         },
                         {
                           "Variable": "$.status",
                           "StringEquals": "new",
                           "Next": "GetSLAWaitTime"
                         }
                       ],
                       "Default": "ClosedOrNotNegative"
                     },
                    
                     "ClosedOrNotNegative": {
                         "Type": "Pass",
                         "Result": {
                           "x-datum": 1,
                           "y-datum": 1
                         },
                         "ResultPath": "$.coords",
                         "End": true
                       }
                                           
                   }
                 }
        RoleArn: !GetAtt [ MyStatesExecutionRole, Arn ]
        
##########################################################################
#   Roles                                                                #
##########################################################################   

    MyLambdaExecutionRole:
        Description: Creating service role in IAM for AWS Lambda
        Type: AWS::IAM::Role
        Properties:
          RoleName: 'ZendeskEventBridgeLambdaExecutionRole'
          AssumeRolePolicyDocument:
            Statement:
            - Effect: Allow
              Principal:
                Service: [lambda.amazonaws.com]
              Action: sts:AssumeRole
          ManagedPolicyArns:
            - !Sub 'arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
            - !Sub 'arn:${AWS::Partition}:iam::aws:policy/ComprehendFullAccess'
    MyStatesExecutionRole:
        Type: "AWS::IAM::Role"
        Properties:
          AssumeRolePolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow" 
                Principal:
                  Service:
                    - !Sub states.${AWS::Region}.amazonaws.com
                Action: "sts:AssumeRole"
          Policies:
            - PolicyName: StatesExecutionPolicy
              PolicyDocument:
                Version: "2012-10-17"
                Statement:
                  - Effect: Allow
                    Action:
                      - "lambda:InvokeFunction"
                      - "comprehend:DetectSentiment"
                    Resource: "*"
    MyWriteToS3ExecutionRole:
        Description: Lambda service role to write to Analytics S3 Bucket
        Type: AWS::IAM::Role
        Properties:
          RoleName: 'ZendeskEventBridgeWriteToS3LambdaRole'
          AssumeRolePolicyDocument:
            Statement:
            - Effect: Allow
              Principal:
               Service: [lambda.amazonaws.com]
              Action: sts:AssumeRole
          ManagedPolicyArns:
            - !Sub 'arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
          Policies:
            - PolicyName: WriteToS3ExecutionPolicy
              PolicyDocument:
                Version: "2012-10-17"
                Statement:
                  - Effect: Allow
                    Action:
                    - "s3:PutObject"
                    Resource: !Sub 'arn:aws:s3:::${S3BucketAnalytics}/*'
    MyTranslateTextExecutionRole:
        Description: Lambda role for Translate Text function
        Type: AWS::IAM::Role
        Properties:
          RoleName: 'ZendeskEventBridgeTranslateTextLambdaRole'
          AssumeRolePolicyDocument:
            Statement:
            - Effect: Allow
              Principal:
                Service: [lambda.amazonaws.com]
              Action: sts:AssumeRole
          ManagedPolicyArns:
            - !Sub 'arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
            - !Sub 'arn:${AWS::Partition}:iam::aws:policy/TranslateFullAccess'
##########################################################################
#   EVENT  BRIDGE - EventBus currently not supported by SAR                                                       #
##########################################################################
    # ZendeskEventBus:
    #   Type: 'AWS::Events::EventBus'
    #   Properties:
    #     EventSourceName: !Ref EventSourceName
    #     Name: !Ref EventSourceName
    MyEventsRule:
      Type: 'AWS::Events::Rule'
      Properties:
        Description: Events Rule with StepFunctionParams
        EventBusName: !Ref EventSourceName
        EventPattern:
          account:
            - !Ref "AWS::AccountId"
          detail-type:
            - 'Support Ticket: Ticket Created'
        Targets:
          -
            Id: NewTicketSFN
            Arn: >-
              !Ref ZendeskDemoStateMachine
        RoleArn:
          Fn::GetAtt:
            - "MyStatesExecutionRole"
            - "Arn"
      DependsOn:
        - ZendeskDemoStateMachine
        - MyStatesExecutionRole
        # - ZendeskEventBus